@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --primary: #FFC107; /* Amber 500 */
  --secondary: #D32F2F; /* Red 700 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
